<%- include ( './partials/header'); %>
<link rel="stylesheet" href="css/gallery.css">
<%- include ('./partials/css-global'); %> 
</head>

<body class ="invalid">
    <main>
    
    <h1> Something went wrong! Try again and go for an adventure!!!</h1>
  </main>
</body>
</html>
