<%- include ( './partials/header'); %>
<link rel="stylesheet" href="css/gallery.css">
<%- include ('./partials/css-global'); %> 
</head>

<body class= "invalid">
  <main>
    <h1>Something went wrong. Please, try again and go on Adventure! </h1>
  </main>
</body>
</html>
