<%- include ( './partials/header'); %>
<link rel="stylesheet" href="css/gallery.css">
<%- include ('./partials/css-global'); %> 
</head>

<body>
  <header>
    <h1 class="logo" ><i class="fas fa-route"></i><a href="/"> Adventure</a></h1>  
    <%- include ('./partials/navbar'); %>
  </header>
  <main>
    <h1>Something went wrong. Page does not exist. Please, try again! </h1>
  </main>
</body>
</html>
