/**************************************** RESET SET UP HEADER ***************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(169, 197, 216), white);
    font-family: 'Nunito Sans', sans-serif;
}

/* **************************** Styling invalid page  */


.invalid {
  background-image: url('https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
 }
 
 .invalid h1 {
   margin-top: 15%;
   text-align: center;
 }
 
 
/* *****************************************Styling each page individually********************************************************************** */
figure {
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  height: 100vh;
  margin-top: 5%;
  margin: auto;
  justify-content: center;
  align-items: center;
  order:1
}

figcaption {
  font-size: 2em;
  margin-bottom: 2%;
}

figcaption span {
  font-size: 2em;
  color:#faa13c;
}

.extra {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: auto;
}

.extra p {
  width: 30%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}