body {
    margin:auto;
}
/*************************** HEADER  / HERO /DIV set up************************/
header {
    display: flex;
    justify-content: center;
    width:100vw;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(rgb(169, 197, 216), white); 
    
}


.hero {
    display:flex;
    flex-direction: column;
    height: 50vh; 
    background:lightblue url('../img/main.jpg') no-repeat 85% 25%; 
    background-size: cover; 
   
    align-items: flex-end;
  
}

/***************************Section about US *******************************/
.total{
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5em;
    width: 80vw;
    margin: auto;
 
}

h2 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #faa13c;
    text-shadow: black 2px 2px;
    margin-top: 2em;
}
/****************************** HERO elements************************** */

.hero h1 {
    margin: 5% 10% 0 0;
    font-size: 3em;
    color:#268545
}

.hero p {
    font-size: 1.5em;
    margin-right: 10%;
    width: 25%;
    color:#268545
}


.hero a {
    text-decoration:none;
    background: #faa13c;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #268545;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Nunito Sans', sans-serif;
	border: 1px solid #257C9E;
    font-weight: 700;
    margin-right: 20%;
}


/*************************** SET UP GALLERY SECTION AND H2 to contact us and Destination****************/

.gallery {
    display: flex;
    flex-direction: column;
}

#destination, #contact {
    width: 80vw;
    margin:auto;
    margin-bottom: 2%;
    margin-top: 2%;
    

}


/************************** CONTACT FORM ******************************/

.form{
    width: 80vw;
    margin:auto;
}

.form ul {
    width: 80vw;
    margin:auto;
    font-size: 1.2em;
}
#fs-frm{
    align-items: center;
    width: 80%;
    margin:auto;
}
#fs-frm-inputs{
    display: flex;
    flex-direction: column;
    border: 1px dotted orange;
    border-radius: 5%;
    margin-top:2%;
    width: 80%;

}

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    display:block;
    box-sizing: border-box;
    width: 100%;
 
	padding: 8px;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}

input[type="submit"] {
    background: #faa13c;
	padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #268545;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Nunito Sans', sans-serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
    font-size: 20px;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 5%;
  
}

/* *************Gallery destionation****************** */

.wrapper {
    display: flex;
  
    width: 80%;
  
    margin:0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  
.wrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
   
 }
img {
     width: 400px;
     margin-right: 10px;
}
  
a[href*="www"]{
     color: #FFA500;
     text-decoration: NONE;
     margin-left:2%;
     
     /* font-size: 1.5em; */
}
  
figcaption {
    display: flex;
    align-self: baseline;
    font-size: 1.2em;
    justify-content: center;
   

}